@use "../index_styles/colors";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	font-family: "Raleway", sans-serif;
	font-size: 1.6rem;
	color: colors.$white;
	background-color: colors.$dark;
}

.sidebar {
	position: fixed;
	// left: 0;
	// top: 0;
	height: 100%;
	width: 78px;
	background: colors.$darker;
	padding: 6px 14px;
	z-index: 99;
	transition: all 0.5s ease;

	&.open {
		width: 250px;
	}

	&__logo {
		display: flex;
		align-items: center;
		position: relative;
		height: 60px;

		&-name {
			color: #fff;
			font-size: 20px;
			font-weight: 600;
			opacity: 0;
			transition: all 0.5s ease;
		}

		#btn {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			font-size: 22px;
			text-align: center;
			transition: all 0.4s ease;
			cursor: pointer;
		}
	}

	i {
		color: #fff;
		height: 60px;
		min-width: 50px;
		font-size: 28px;
		text-align: center;
		line-height: 60px;
	}

	&__list {
		margin-top: 20px;
		height: 100%;

		li {
			position: relative;
			margin: 8px 0;
			list-style: none;

			.tooltip {
				position: absolute;
				top: -20px;
				left: calc(100% + 15px);
				padding: 6px 12px;
				background: #fff;
				color: black;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
				border-radius: 4px;
				font-size: 15px;
				font-weight: 400;
				white-space: nowrap;
				pointer-events: none;
				opacity: 0;
				z-index: 3;
				transition: 0s;
			}

			&:hover .tooltip {
				opacity: 1;
				top: 50%;
				pointer-events: auto;
				transform: translateY(-50%);
				transition: all 0.4s ease;
			}

			a {
				display: flex;
				align-items: center;
				height: 100%;
				width: 100%;
				background: colors.$dark;
				border-radius: 12px;
				text-decoration: none;
				transition: all 0.4s ease;

				&:hover {
					background: #fff;
				}

				&:hover .sidebar__item-name,
				&:hover i {
					transition: all 0.5s ease;
					color: #11101d;
				}
			}

			i {
				height: 50px;
				line-height: 50px;
				font-size: 18px;
				border-radius: 12px;
			}
		}
	}

	&__item-name {
		color: #fff;
		font-size: 15px;
		font-weight: 400;
		white-space: nowrap;
		opacity: 0;
		pointer-events: none;
		transition: 0.4s;
	}

	li.sidebar__profile {
		position: fixed;
		height: 60px;
		width: 78px;
		left: 0;
		bottom: -8px;
		padding: 10px 14px;
		background: colors.$darker;
		transition: all 0.5s ease;
		overflow: hidden;
	}

	&__profile {
		&-logout {
			border: none;

			i {
				cursor: pointer;

				&:hover {
					color: colors.$gold;
				}
			}
		}
	}
}
// ====================
.sidebar.open {
	.sidebar__logo {
		&-name {
			opacity: 1;
		}

		#btn {
			text-align: right;
		}
	}

	li {
		.tooltip {
			display: none;
		}
	}

	li.sidebar__profile {
		width: 250px;
	}

	.sidebar__item-name {
		opacity: 1;
		pointer-events: auto;
	}
}

// ====================

.sidebar li .sidebar__profile-details {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
.sidebar li img {
	height: 45px;
	width: 45px;
	object-fit: cover;
	border-radius: 6px;
	margin-right: 10px;
}
.sidebar li.sidebar__profile .sidebar__username {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	white-space: nowrap;
}

.sidebar .sidebar__profile #log_out {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background: colors.$darker;
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-radius: 0px;
	transition: all 0.5s ease;
}
.sidebar.open .sidebar__profile #log_out {
	width: 50px;
	background: none;
}
.home-section {
	position: relative;
	background: #e4e9f7;
	min-height: 100vh;
	top: 0;
	left: 78px;
	width: calc(100% - 78px);
	transition: all 0.5s ease;
	z-index: 2;
}
.sidebar.open ~ .home-section {
	left: 250px;
	width: calc(100% - 250px);
}
.home-section .text {
	display: inline-block;
	color: #11101d;
	font-size: 25px;
	font-weight: 500;
	margin: 18px;
}

// .sidebar__profile-log-out:hover {
// 	// color: colors.;
// 	background-color: red;
// }

@media (max-width: 420px) {
	.sidebar li .tooltip {
		display: none;
	}
}
